* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: "Poppins", sans-serif;

}

body {

    background: #f5f5f7;

}

.pricing-section {

    text-align: center;

    padding: 60px 20px;

}

.pricing-section h2 {

    font-size: 32px;

    margin-bottom: 10px;

}

.subtitle {

    color: #666;

    margin-bottom: 40px;

}

.pricing-container {

    display: flex;

    flex-wrap: wrap;

    gap: 20px;

    justify-content: center;

}

.pricing-card {

    background: #fff;

    width: 100%;

    max-width: 330px;

    padding: 30px;

    border-radius: 12px;

    box-shadow: 0px 5px 20px rgba(0,0,0,0.08);

    position: relative;

    transition: 0.3s;

}

.pricing-card:hover {

    transform: translateY(-6px);

}

.pricing-card h3 {

    font-size: 22px;

    margin-bottom: 10px;

}

.price {

    font-size: 36px;

    font-weight: 700;

    margin: 10px 0 20px;

    color:  #5368df;

}

.price span {

    font-size: 15px;

    color: #555;

}

ul {

    list-style: none;

    margin: 10px 0 25px;

}

ul li {

    margin: 8px 0;

    color: #444;

}

.btn {

    display: inline-block;

    background: linear-gradient(45deg, #7a00ff,  #5368df);

    color: #fff;

    padding: 12px 25px;

    border-radius: 6px;

    text-decoration: none;

    transition: 0.3s;

}

.btn:hover {

    opacity: 0.85;

}



.popular {

    border: 3px solid  #5368df;

    transform: scale(1.05);

}

.badge a {

    position: absolute;

    top: -12px;

    right: 15px;

    background:  #5368df;

    color: #fff;

    padding: 4px 10px;

    border-radius: 4px;

    font-size: 13px;

    text-decoration: none;

}



@media(max-width: 768px) {

    .popular {

        transform: none;

    }

}

