* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom , #0f9bbd, #83787f, #c8aad6);
   
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.login-container {
    position: relative;
    width: 100%;
    max-width: 420px;
    padding: 20px;
}

.login-box {
    background: white;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 18px rgba(0,0,0,0.3);
    position: relative;
    z-index: 2;
    animation: fadeIn 0.8s ease-in-out;
}

.logo h2 {
    text-align: center;
    font-size: 28px;
    color: #3b82f6;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 15px;
}

.forgot {
    display: block;
    text-align: right;
    font-size: 13px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #2563eb;
}

.btn  {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}


.badge a {

    position: absolute;
    top: -12px;
    right: 15px;
    background:  #5368df;
    color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 13px;
    text-decoration: none;

}


.btn:hover {
    background: #1e40af;
}

.signup-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.signup-text a {
    color: #2563eb;
    text-decoration: none;
}


.success-body {
    background: #e9f1ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-box {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    animation: fadeIn 0.8s ease-in-out;
}

.success-box h2 {
    color: #10b981;
    margin-bottom: 10px;
}

.success-body :hover{ 
  transition: all;
  transform: scale(1.05);
}





@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 480px) {
    .login-box, .success-box {
        padding: 25px;
    }

    .logo h2 {
        font-size: 24px;
    }

    .btn {
        font-size: 15px;
    }
}
